<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <div class="container">
      <%-include("partials/student-nav")%>
        <main>
          <%-include("partials/searchBar")%>

            <h1>
              <%= title %>
            </h1>
            <div class="content"> </div>
            <form action="/student/update-profile" method="post">
              <label for="firstname">First Name</label>
              <br>
              <input type="text" name="firstname" id="">
              <br><br>

              <label for="lastname">Last Name</label>
              <br>
              <input type="text" name="lastname" id="">
              <br><br>
              <label for="program">Program</label>
              <br>
              <input type="text" name="program" id="">
              <br><br>
              <label for="">Gender</label>
              <br>
              Male<input type="radio" name="gender" value="M" id=""> Female <input type="radio" name="gender"value="F" id="">
              <br><br>
              <h1>Next of Kin</h1>
              <label for="full_name">Full Name:</label>
              <br>
              <input type="text" id="full_name" name="full_name" required>
              <br><br>
      
              <label for="relationship">Relationship:</label><br>
              <input type="text" id="relationship" name="relationship" required>
              <br><br>
      
              <label for="phone_number">Phone Number:</label><br>
              <input type="tel" id="phone_number" name="phone_number">
              <br><br>
      
              <label for="email">Email:</label><br>
              <input type="email" id="email" name="email">
              <br><br>
      
              <label for="postal_address">Postal Address:</label><br>
              <textarea id="postal_address" name="postal_address" rows="4" cols="50"></textarea>
              <br><br>
      
       
              
              <br><br>
              <input type="submit" value="Update Info" id="">
            </form>




        </main>


    </div>

  </body>

</html>